.card__image {
	height: 220px;
}

.card__description {
	height: 110px;
	max-height: 110px;
	width: 100%;
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 5;
	display: -webkit-box;
	position: relative;
}

.card__description::after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	height: 40px;
	width: 100%;
    background: linear-gradient(to bottom, transparent, #ffffff);
}

.p-card-title {
    height: 96px;
    overflow: hidden;
}

.p-card-content {
    padding-bottom: 0;
}

.p-card {
    border-radius: 10px;
    overflow: hidden;
    -webkit-box-orient: vertical;
	-webkit-line-clamp: 5;
	display: -webkit-box;
}

.p-card-footer {
    padding: 0;
}