.card__image {
	height: 220px;
}

.card__description {
    height: 110px;
	max-height: 110px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
    position: relative;
}

.card__description::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    height: 30px;
    width: 100%;
    background-color: aqua;
}
